.h-hero {
  height: calc(100vh - 80px);
 @media only screen and (max-width: 768px) {
    height: fit-content;
   
}
}
.min-h-hero {
  min-height: calc(100vh - 80px);
}

//!-----------blob--------------

.plain-blob {
  

  animation: animate-blob 4s ease-in-out infinite;
}
.blob {
  width: 300px;
  height: 300px;
  //background:url(./) no-repeat 50% 50%;
  background-color: blueviolet;
  background-size: cover;

  animation: animate-blob 4s ease-in-out infinite;
}

@keyframes animate-blob {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
