.h-hero {
  height: calc(100vh - 80px);
  @media only screen and (max-width: 768px) {
    height: fit-content;
  }
}
.min-h-hero {
  min-height: calc(100vh - 80px);
}

//!-----------blob--------------

.plain-blob {
  animation: animate-blob 4s ease-in-out infinite;
}
.blob {
  width: 300px;
  height: 300px;
  //background:url(./) no-repeat 50% 50%;
  background-color: blueviolet;
  background-size: cover;

  animation: animate-blob 4s ease-in-out infinite;
}

@keyframes animate-blob {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

//!--------- Features --------

.feature-img-container {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  img {
    transform: scale(1.3);
  }
}

//! --------- grid -------------------

.grid-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
  justify-items: center;

  @media screen and (max-width: 550px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

//! ----socials ------
.text {
  font-size: 50px;
  line-height: 70px;
  height: 70px;
  overflow: hidden;
  text-transform: uppercase;
}

.text:hover .letter,
.text.play .letter {
  transform: translateY(-100%);
}
.text .block:last-child {
  color: brown;
}

.text .letter {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
}

.letter:nth-child(1) {
  transition-delay: 0s;
}
.letter:nth-child(2) {
  transition-delay: 0.03s;
}
.letter:nth-child(3) {
  transition-delay: 0.06s;
}
.letter:nth-child(4) {
  transition-delay: 0.09s;
}
.letter:nth-child(5) {
  transition-delay: 0.12s;
}
.letter:nth-child(6) {
  transition-delay: 0.15s;
}
.letter:nth-child(7) {
  transition-delay: 0.18s;
}
.letter:nth-child(8) {
  transition-delay: 0.21s;
}
.letter:nth-child(9) {
  transition-delay: 0.24s;
}
.letter:nth-child(10) {
  transition-delay: 0.27s;
}
.letter:nth-child(11) {
  transition-delay: 0.3s;
}

//!------ form inputs  --------

.input-box {
  label span {
    position: relative;
    display: inline-flex;
    transition: 0.2s ease-in-out;
  }

  input:focus ~ label span,
  input:valid ~ label span {
    transform: translateY(-100%);
  }
}

//!---- footer  -------

.footer-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  justify-items: center;
  place-content: center;
  justify-content: center;
  @media screen and (max-width: 1024px) {
    justify-items: center;
  }
}

.grid-col {
  width: 250px;
}
