.h-hero {
  height: calc(100vh - 80px);
  @media only screen and (max-width: 768px) {
    height: fit-content;
  }
}
.min-h-hero {
  min-height: calc(100vh - 80px);
}

//!-----------blob--------------

.plain-blob {
  animation: animate-blob 4s ease-in-out infinite;
}
.blob {
  width: 300px;
  height: 300px;
  //background:url(./) no-repeat 50% 50%;
  background-color: blueviolet;
  background-size: cover;

  animation: animate-blob 4s ease-in-out infinite;
}

@keyframes animate-blob {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

//!--------- Features --------

.feature-img-container {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  img {
    transform: scale(1.3);
  }
}

//! --------- grid -------------------

.grid-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
  justify-items: center;

  @media screen and (max-width: 550px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

//! ----socials ------
.text {
  font-size: 35px;
  line-height: 60px;
  height: 60px;
  overflow: hidden;
  text-transform: uppercase;
}

.text:hover .letter,
.text.play .letter {
  transform: translateY(-100%);
}
.text .block:last-child {
  color: white;
}

.text .letter {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
}

.letter:nth-child(1) {
  transition-delay: 0s;
}
.letter:nth-child(2) {
  transition-delay: 0.03s;
}
.letter:nth-child(3) {
  transition-delay: 0.06s;
}
.letter:nth-child(4) {
  transition-delay: 0.09s;
}
.letter:nth-child(5) {
  transition-delay: 0.12s;
}
.letter:nth-child(6) {
  transition-delay: 0.15s;
}
.letter:nth-child(7) {
  transition-delay: 0.18s;
}
.letter:nth-child(8) {
  transition-delay: 0.21s;
}
.letter:nth-child(9) {
  transition-delay: 0.24s;
}
.letter:nth-child(10) {
  transition-delay: 0.27s;
}
.letter:nth-child(11) {
  transition-delay: 0.3s;
}

//!------ form inputs  --------

.input-box {
  label span {
    position: relative;
    display: inline-flex;
    transition: 0.2s ease-in-out;
    font-family: Rubik, sans-serif;
  }

  input:focus ~ label span,
  input:valid ~ label span {
    transform: translateY(-100%);
  }
}

//!---- footer  -------

.footer-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  justify-items: center;
  place-content: center;
  justify-content: center;
  @media screen and (max-width: 1024px) {
    justify-items: center;
  }
}

.grid-col {
  width: 250px;
}

//! ---- burger -------

.menu-icon {
  position: relative;
  width: 60px;
  height: 45px;
  cursor: pointer;
  z-index: 100;

  .menu-icon__cheeckbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
  }
  div {
    margin: auto;
    position: absolute;
    inset: 0;
    width: 70%;
    height: 14px;
  }
  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #1f0018;
    border-radius: 2px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

    &:first-of-type {
      top: 0;
    }
    &:last-of-type {
      bottom: 0;
    }
  }
  &.active,
  .menu-icon__cheeckbox:checked + div {
    span {
      &:first-of-type {
        transform: rotate(45deg);
        top: 5px;
        width: 100%;
      }
      &:last-of-type {
        transform: rotate(-45deg);
        bottom: 5px;
        width: 100%;
      }
    }
  }

  &.active:hover span:first-of-type,
  &.active:hover span:last-of-type,
  &:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
  &:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
    width: 100%;
  }

  &:hover {
    // no need hover effect on mobile.
    @media (min-width: 490px) {
      span:first-of-type {
        width: 100%;
      }

      span:last-of-type {
        width: 60%;
      }
    }
  }
}

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: scale(0.8);
  background-color: #000000;
  user-select: none;
  pointer-events: none;
  border-radius: 100%;
  z-index: 50;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
}

.cursor::before {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url(../../public/assets/images/view-svg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  opacity: 0;
}

.cursor.active {
  opacity: 1;
  transform: scale(1.2);
}
.cursor.active::before {
  opacity: 1;
  transform: scale(1.2);
}

.cursor-follower {
  position: absolute;
  background: #0000003b;

  width: 40px;
  height: 40px;
  user-select: none;
  pointer-events: none;
  border-radius: 100%;
  z-index: 50;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  transform: translate(4px, 4px);
}

.cursor-follower.active {
  opacity: 0.3;
  transform: scale(0);
}
